@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Lab12</h3>
    <p>@Html.ActionLink("Positions", "List", "Position")</p>
    <p>@Html.ActionLink("Departments", "List", "Department")</p>
    <p>@Html.ActionLink("Employees", "List", "Employee")</p>
</div>
