USE [master]
GO
/****** Object:  Database [userdb]    Script Date: 15-May-21 12:17 AM ******/
CREATE DATABASE [userdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'userdb', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\userdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'userdb_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\userdb_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [userdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [userdb]
GO
/****** Object:  UserDefinedFunction [dbo].[DateConverter]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DateConverter] (@date datetime)
RETURNS DATE
AS
BEGIN
	RETURN CAST(@date AS DATE)
END
GO
/****** Object:  Table [dbo].[PositionsCopy]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PositionsCopy](
	[Position_Id] [int] IDENTITY(1,1) NOT NULL,
	[Position_Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Position_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeesCopy]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesCopy](
	[Employee_Id] [int] IDENTITY(1,1) NOT NULL,
	[Department_Id] [int] NULL,
	[Position_Id] [int] NULL,
	[Date_Of_Hiring] [date] NULL,
	[Date_Of_Firing] [date] NULL,
	[FirstName] [varchar](20) NOT NULL,
	[LastName] [varchar](20) NOT NULL,
	[MiddleName] [varchar](20) NOT NULL,
	[Gender] [varchar](1) NOT NULL,
	[Passport_Number] [varchar](15) NOT NULL,
	[Adress] [varchar](70) NOT NULL,
	[Phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EmployeesPositionsInRange]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EmployeesPositionsInRange] AS
SELECT EmployeesCopy.FirstName AS FN,
		EmployeesCopy.LastName AS LN,
		EmployeesCopy.MiddleName AS MN, 
		PositionsCopy.Position_Name AS Position, 
		Date_Of_Hiring
FROM EmployeesCopy
JOIN PositionsCopy ON PositionsCopy.Position_Id = EmployeesCopy.Position_Id
WHERE Date_Of_Hiring BETWEEN '20130101' AND '20130202';

--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, DepartmentsCopy.Adress
--From EmployeesCopy
--JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Adress LIKE 'улица Миронова %';

--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, EmployeesCopy.Passport_Number, DepartmentsCopy.Department_Id, DepartmentsCopy.Adress
--From EmployeesCopy
--JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Gender = 'ж'AND EmployeesCopy.FirstName = 'Екатерина';

--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, PositionsCopy.Position_Name, EmployeesCopy.Date_Of_Firing
--From EmployeesCopy
--JOIN PositionsCopy ON PositionsCopy.Position_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Date_Of_Firing BETWEEN '20210101' AND GETDATE();

--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, EmployeesCopy.Phone, EmployeesCopy.Adress, DepartmentsCopy.Adress
--From EmployeesCopy
--JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Adress LIKE 'улица [А-В]%';
GO
/****** Object:  Table [dbo].[DepartmentsCopy]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentsCopy](
	[Department_Id] [int] IDENTITY(1,1) NOT NULL,
	[Adress] [varchar](70) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Department_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EmployeesAdressMironovaDepartments]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE VIEW EmployeesPositionsInRange AS
--SELECT EmployeesCopy.FirstName AS FN,
--		EmployeesCopy.LastName AS LN,
--		EmployeesCopy.MiddleName AS MN, 
--		PositionsCopy.Position_Name AS Position, 
--		Date_Of_Hiring
--FROM EmployeesCopy
--JOIN PositionsCopy ON PositionsCopy.Position_Id = EmployeesCopy.Position_Id
--WHERE Date_Of_Hiring BETWEEN '20130101' AND '20130202';

CREATE VIEW [dbo].[EmployeesAdressMironovaDepartments] AS
Select EmployeesCopy.FirstName, EmployeesCopy.LastName, DepartmentsCopy.Adress
From EmployeesCopy
JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
WHERE EmployeesCopy.Adress LIKE 'улица Миронова %';

--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, EmployeesCopy.Passport_Number, DepartmentsCopy.Department_Id, DepartmentsCopy.Adress
--From EmployeesCopy
--JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Gender = 'ж'AND EmployeesCopy.FirstName = 'Екатерина';

--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, PositionsCopy.Position_Name, EmployeesCopy.Date_Of_Firing
--From EmployeesCopy
--JOIN PositionsCopy ON PositionsCopy.Position_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Date_Of_Firing BETWEEN '20210101' AND GETDATE();

--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, EmployeesCopy.Phone, EmployeesCopy.Adress, DepartmentsCopy.Adress
--From EmployeesCopy
--JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Adress LIKE 'улица [А-В]%';
GO
/****** Object:  View [dbo].[EmployeesEkaterinaDepartments]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE VIEW EmployeesPositionsInRange AS
--SELECT EmployeesCopy.FirstName AS FN,
--		EmployeesCopy.LastName AS LN,
--		EmployeesCopy.MiddleName AS MN, 
--		PositionsCopy.Position_Name AS Position, 
--		Date_Of_Hiring
--FROM EmployeesCopy
--JOIN PositionsCopy ON PositionsCopy.Position_Id = EmployeesCopy.Position_Id
--WHERE Date_Of_Hiring BETWEEN '20130101' AND '20130202';

--CREATE VIEW EmployeesAdressMironovaDepartments AS
--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, DepartmentsCopy.Adress
--From EmployeesCopy
--JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Adress LIKE 'улица Миронова %';

CREATE VIEW [dbo].[EmployeesEkaterinaDepartments] AS
Select EmployeesCopy.FirstName, EmployeesCopy.LastName, EmployeesCopy.Passport_Number, DepartmentsCopy.Department_Id, DepartmentsCopy.Adress
From EmployeesCopy
JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
WHERE EmployeesCopy.Gender = 'ж'AND EmployeesCopy.FirstName = 'Екатерина';

--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, PositionsCopy.Position_Name, EmployeesCopy.Date_Of_Firing
--From EmployeesCopy
--JOIN PositionsCopy ON PositionsCopy.Position_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Date_Of_Firing BETWEEN '20210101' AND GETDATE();

--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, EmployeesCopy.Phone, EmployeesCopy.Adress, DepartmentsCopy.Adress
--From EmployeesCopy
--JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Adress LIKE 'улица [А-В]%';
GO
/****** Object:  View [dbo].[EmployeesFiringInRangePositions]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE VIEW EmployeesPositionsInRange AS
--SELECT EmployeesCopy.FirstName AS FN,
--		EmployeesCopy.LastName AS LN,
--		EmployeesCopy.MiddleName AS MN, 
--		PositionsCopy.Position_Name AS Position, 
--		Date_Of_Hiring
--FROM EmployeesCopy
--JOIN PositionsCopy ON PositionsCopy.Position_Id = EmployeesCopy.Position_Id
--WHERE Date_Of_Hiring BETWEEN '20130101' AND '20130202';

--CREATE VIEW EmployeesAdressMironovaDepartments AS
--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, DepartmentsCopy.Adress
--From EmployeesCopy
--JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Adress LIKE 'улица Миронова %';

--CREATE VIEW EmployeesEkaterinaDepartments AS
--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, EmployeesCopy.Passport_Number, DepartmentsCopy.Department_Id, DepartmentsCopy.Adress
--From EmployeesCopy
--JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Gender = 'ж'AND EmployeesCopy.FirstName = 'Екатерина';

CREATE VIEW [dbo].[EmployeesFiringInRangePositions] AS
Select EmployeesCopy.FirstName, EmployeesCopy.LastName, PositionsCopy.Position_Name, EmployeesCopy.Date_Of_Firing
From EmployeesCopy
JOIN PositionsCopy ON PositionsCopy.Position_Id = EmployeesCopy.Department_Id
WHERE EmployeesCopy.Date_Of_Firing BETWEEN '20210101' AND GETDATE();

--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, EmployeesCopy.Phone, EmployeesCopy.Adress, DepartmentsCopy.Adress
--From EmployeesCopy
--JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Adress LIKE 'улица [А-В]%';
GO
/****** Object:  View [dbo].[EmployeesAdressInRangeDepartments]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE VIEW EmployeesPositionsInRange AS
--SELECT EmployeesCopy.FirstName AS FN,
--		EmployeesCopy.LastName AS LN,
--		EmployeesCopy.MiddleName AS MN, 
--		PositionsCopy.Position_Name AS Position, 
--		Date_Of_Hiring
--FROM EmployeesCopy
--JOIN PositionsCopy ON PositionsCopy.Position_Id = EmployeesCopy.Position_Id
--WHERE Date_Of_Hiring BETWEEN '20130101' AND '20130202';

--CREATE VIEW EmployeesAdressMironovaDepartments AS
--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, DepartmentsCopy.Adress
--From EmployeesCopy
--JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Adress LIKE 'улица Миронова %';

--CREATE VIEW EmployeesEkaterinaDepartments AS
--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, EmployeesCopy.Passport_Number, DepartmentsCopy.Department_Id, DepartmentsCopy.Adress
--From EmployeesCopy
--JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Gender = 'ж'AND EmployeesCopy.FirstName = 'Екатерина';

--CREATE VIEW EmployeesFiringInRangePositions AS
--Select EmployeesCopy.FirstName, EmployeesCopy.LastName, PositionsCopy.Position_Name, EmployeesCopy.Date_Of_Firing
--From EmployeesCopy
--JOIN PositionsCopy ON PositionsCopy.Position_Id = EmployeesCopy.Department_Id
--WHERE EmployeesCopy.Date_Of_Firing BETWEEN '20210101' AND GETDATE();

CREATE VIEW [dbo].[EmployeesAdressInRangeDepartments] AS
Select	EmployeesCopy.FirstName AS FN, 
		EmployeesCopy.LastName AS LN,
		EmployeesCopy.Phone AS Phone,
		EmployeesCopy.Adress AS EmployeesAdress,
		DepartmentsCopy.Adress AS DepartmentsAdress
From EmployeesCopy
JOIN DepartmentsCopy ON DepartmentsCopy.Department_Id = EmployeesCopy.Department_Id
WHERE EmployeesCopy.Adress LIKE 'улица [А-В]%';
GO
/****** Object:  UserDefinedFunction [dbo].[SearchLastName]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SearchLastName] (@lastname varchar(20))
RETURNS TABLE
AS
RETURN (
		SELECT EmployeesCopy.LastName, EmployeesCopy.FirstName, EmployeesCopy.MiddleName FROM EmployeesCopy
		WHERE EmployeesCopy.LastName LIKE @lastname + '%'
		)
GO
/****** Object:  Table [dbo].[History]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PositionId] [int] NOT NULL,
	[Operation] [nvarchar](500) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DepartmentsCopy] ON 

INSERT [dbo].[DepartmentsCopy] ([Department_Id], [Adress], [CreatedTime]) VALUES (1, N'проспект Пушкинский 38', CAST(N'2021-03-29T20:02:09.673' AS DateTime))
INSERT [dbo].[DepartmentsCopy] ([Department_Id], [Adress], [CreatedTime]) VALUES (2, N'проспект Шмидта 75', CAST(N'2021-03-29T20:02:09.673' AS DateTime))
INSERT [dbo].[DepartmentsCopy] ([Department_Id], [Adress], [CreatedTime]) VALUES (3, N'улица Гагарина 65', CAST(N'2021-03-29T20:02:09.677' AS DateTime))
SET IDENTITY_INSERT [dbo].[DepartmentsCopy] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeesCopy] ON 

INSERT [dbo].[EmployeesCopy] ([Employee_Id], [Department_Id], [Position_Id], [Date_Of_Hiring], [Date_Of_Firing], [FirstName], [LastName], [MiddleName], [Gender], [Passport_Number], [Adress], [Phone]) VALUES (1, 7, NULL, CAST(N'2013-06-15' AS Date), CAST(N'2020-08-17' AS Date), N'Максим', N'Терентьев', N'Григорьевич', N'м', N'КВ8759766', N'улица Коваленко 1-136', N'375254295233')
INSERT [dbo].[EmployeesCopy] ([Employee_Id], [Department_Id], [Position_Id], [Date_Of_Hiring], [Date_Of_Firing], [FirstName], [LastName], [MiddleName], [Gender], [Passport_Number], [Adress], [Phone]) VALUES (3, 1, NULL, CAST(N'2016-03-08' AS Date), CAST(N'2020-04-11' AS Date), N'Валерий', N'Зыков', N'Робертович', N'м', N'КВ8121205', N'улица Леваневского 135-145', N'375258433535')
INSERT [dbo].[EmployeesCopy] ([Employee_Id], [Department_Id], [Position_Id], [Date_Of_Hiring], [Date_Of_Firing], [FirstName], [LastName], [MiddleName], [Gender], [Passport_Number], [Adress], [Phone]) VALUES (5, 10, NULL, CAST(N'2014-02-13' AS Date), NULL, N'Иван', N'Макаров', N'Емельянович', N'м', N'КВ8264537', N'улица Суворовская 78-49', N'375258668995')
GO
SET IDENTITY_INSERT [dbo].[EmployeesCopy] OFF
GO
SET IDENTITY_INSERT [dbo].[History] ON 

INSERT [dbo].[History] ([Id], [PositionId], [Operation], [CreateAt]) VALUES (1, 9, N'Добавлена должность Суетолог', CAST(N'2021-05-14T17:29:14.367' AS DateTime))
INSERT [dbo].[History] ([Id], [PositionId], [Operation], [CreateAt]) VALUES (2, 9, N'Обновлена должность Консультант', CAST(N'2021-05-14T17:34:09.543' AS DateTime))
INSERT [dbo].[History] ([Id], [PositionId], [Operation], [CreateAt]) VALUES (3, 10, N'Добавлена должность Тестовая должность', CAST(N'2021-05-14T17:36:02.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[History] OFF
GO
SET IDENTITY_INSERT [dbo].[PositionsCopy] ON 

INSERT [dbo].[PositionsCopy] ([Position_Id], [Position_Name]) VALUES (4, N'Аудитор')
INSERT [dbo].[PositionsCopy] ([Position_Id], [Position_Name]) VALUES (3, N'Бухгалтер')
INSERT [dbo].[PositionsCopy] ([Position_Id], [Position_Name]) VALUES (11, N'Генеральный директор')
SET IDENTITY_INSERT [dbo].[PositionsCopy] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__08F62FE5C822C0B5]    Script Date: 15-May-21 12:17 AM ******/
ALTER TABLE [dbo].[DepartmentsCopy] ADD UNIQUE NONCLUSTERED 
(
	[Adress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__5C7E359E9EE2C68C]    Script Date: 15-May-21 12:17 AM ******/
ALTER TABLE [dbo].[EmployeesCopy] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__EC266AD99C5B87C1]    Script Date: 15-May-21 12:17 AM ******/
ALTER TABLE [dbo].[EmployeesCopy] ADD UNIQUE NONCLUSTERED 
(
	[Passport_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [department_index]    Script Date: 15-May-21 12:17 AM ******/
CREATE NONCLUSTERED INDEX [department_index] ON [dbo].[EmployeesCopy]
(
	[Department_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [phone_index]    Script Date: 15-May-21 12:17 AM ******/
CREATE NONCLUSTERED INDEX [phone_index] ON [dbo].[EmployeesCopy]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Position__1EF6450D44A541BB]    Script Date: 15-May-21 12:17 AM ******/
ALTER TABLE [dbo].[PositionsCopy] ADD UNIQUE NONCLUSTERED 
(
	[Position_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[History] ADD  DEFAULT (getdate()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[EmployeesCopy]  WITH CHECK ADD FOREIGN KEY([Department_Id])
REFERENCES [dbo].[DepartmentsCopy] ([Department_Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EmployeesCopy]  WITH CHECK ADD FOREIGN KEY([Position_Id])
REFERENCES [dbo].[PositionsCopy] ([Position_Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EmployeesCopy]  WITH CHECK ADD CHECK  (([Phone]<>''))
GO
/****** Object:  StoredProcedure [dbo].[AddDepartment]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDepartment]
@adress varchar(70)
AS
BEGIN
IF EXISTS (SELECT * FROM DepartmentsCopy WHERE DepartmentsCopy.Adress = @adress)
BEGIN
PRINT 'Adress exists'
RETURN 0
END
ELSE
BEGIN
INSERT INTO DepartmentsCopy(Adress, CreatedTime) VALUES(@adress, GETDATE())
PRINT 'Succesful'
END
END;
GO
/****** Object:  StoredProcedure [dbo].[AddPositionWithId]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPositionWithId]
@positionId INTEGER,
@positionName varchar(50)
AS
BEGIN
	BEGIN TRY
		SET IDENTITY_INSERT PositionsCopy ON
		INSERT INTO PositionsCopy(Position_Id, Position_Name) VALUES(@positionId, @positionName)
		PRINT 'Succesful'
	END TRY
	BEGIN CATCH
		PRINT 'id exist'
	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteDepartmentByID]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteDepartmentByID]
@depatrmentId INTEGER
AS
BEGIN
 IF EXISTS (SELECT * FROM EmployeesCopy WHERE EmployeesCopy.Department_Id = @depatrmentId)
 BEGIN
 PRINT 'There is employee that works in that department'
 RETURN 0
 END
 ELSE
 BEGIN
 DELETE DepartmentsCopy WHERE Department_Id = @depatrmentId
 PRINT 'Succesful'
 END
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteEmployeeByPassportNumber]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteEmployeeByPassportNumber]
@passportNumber VARCHAR(15)
AS
BEGIN
 IF NOT EXISTS (SELECT EmployeesCopy.Passport_Number FROM EmployeesCopy WHERE EmployeesCopy.Passport_Number = @passportNumber)
 BEGIN
 PRINT 'passport number doesnt exist'
 RETURN 0
 END
 ELSE
 BEGIN
 DELETE EmployeesCopy WHERE EmployeesCopy.Passport_Number = @passportNumber
 END
END;
GO
/****** Object:  StoredProcedure [dbo].[DeletePostitionById]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePostitionById]
@positionId INTEGER
AS
BEGIN

IF NOT EXISTS (SELECT PositionsCopy.Position_Id FROM PositionsCopy WHERE PositionsCopy.Position_Id = @positionId)
BEGIN
	PRINT 'id does not exist'
	RETURN 0
END

ELSE
BEGIN
 DECLARE @positionName VARCHAR(50)
 SELECT @positionName = PositionsCopy.Position_Name FROM PositionsCopy WHERE Position_Id = @positionId
 DELETE PositionsCopy WHERE Position_Id = @positionId
 PRINT 'deleted position ' + @positionName
END

END;
GO
/****** Object:  StoredProcedure [dbo].[DepartmentsSummary]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DepartmentsSummary] AS
SELECT * FROM DepartmentsCopy
GO
/****** Object:  StoredProcedure [dbo].[EmployeeJoinPositionAccountant]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmployeeJoinPositionAccountant] AS
BEGIN
Select EmployeesCopy.FirstName, EmployeesCopy.LastName, EmployeesCopy.Passport_Number, Position_Name
From EmployeesCopy
JOIN PositionsCopy ON PositionsCopy.Position_Id = EmployeesCopy.Position_Id
WHERE PositionsCopy.Position_Name = 'Бухгалтер';
END;
GO
/****** Object:  StoredProcedure [dbo].[PositionsSummary]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PositionsSummary] AS
BEGIN
SELECT * FROM PositionsCopy WHERE PositionsCopy.Position_Name = 'Аналитик'
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployeeById]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEmployeeById]
@employeeId INTEGER,
@firstName VARCHAR(20),
@lastName VARCHAR(20),
@middleName VARCHAR(20),
@adress VARCHAR(20),
@phone VARCHAR(20)
AS
BEGIN

IF (@firstName <> '')
BEGIN
 UPDATE EmployeesCopy SET FirstName = @firstName WHERE Employee_Id = @employeeId
 PRINT 'updated firstName'
END

IF (@lastName <> '')
BEGIN
 UPDATE EmployeesCopy SET LastName = @lastName WHERE Employee_Id = @employeeId
 PRINT 'updated lastName'
END

IF (@middleName <> '')
BEGIN
 UPDATE EmployeesCopy SET MiddleName = @middleName WHERE Employee_Id = @employeeId
 PRINT 'updated middleName'
END

IF (@adress <> '')
BEGIN
 UPDATE EmployeesCopy SET Adress = @adress WHERE Employee_Id = @employeeId
 PRINT 'updated adress'
END

IF (@phone <> '')
BEGIN
 UPDATE EmployeesCopy SET Phone = @phone WHERE Employee_Id = @employeeId
 PRINT 'updated phone'
END

END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployeePhoneById]    Script Date: 15-May-21 12:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEmployeePhoneById]
@employeeId INTEGER,
@phone VARCHAR(20)
AS
BEGIN
IF NOT EXISTS (SELECT * FROM EmployeesCopy WHERE @employeeId = Employee_Id)
BEGIN
 PRINT 'id does not exist'
 RETURN 0
END
ELSE
BEGIN
UPDATE EmployeesCopy SET Phone = @phone WHERE Employee_Id = @employeeId
END
END;
GO
USE [master]
GO
